[submodule "Config-Server"]
	path = Config-Server
	url = https://github.com/keshan200/Config-Server.git
[submodule "Eureka-Server"]
	path = Eureka-Server
	url = https://github.com/keshan200/Eureka-Server.git
[submodule "API-Gateway"]
	path = API-Gateway
	url = https://github.com/keshan200/API-Gateway.git
[submodule "Order-Service-"]
	path = Order-Service-
	url = https://github.com/keshan200/Order-Service-.git
[submodule "SmartLogix-Tracking-Service"]
	path = SmartLogix-Tracking-Service
	url = https://github.com/keshan200/SmartLogix-Tracking-Service.git
